In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv("Salaries.csv")
df

C:\Users\91637\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [2]:
df.isnull().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

In [3]:
df=df.drop(["Id","Notes","Agency","Status"],axis=1)
df

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011
...,...,...,...,...,...,...,...,...,...
148649,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014
148650,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014
148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014
148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014
148653,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014

In [4]:
df.describe(include="all")

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
count,148654,148654,148049.0,148654.0,148654.0,112495.0,148654.000000,148654.000000,148654.000000
unique,110811,2159,109900.0,66555.0,84968.0,99635.0,NaN,NaN,NaN
top,Kevin Lee,Transit Operator,0.0,0.0,0.0,0.0,NaN,NaN,NaN
freq,13,7036,875.0,66103.0,35218.0,1053.0,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,74768.321972,93692.554811,2012.522643
std,NaN,NaN,NaN,NaN,NaN,NaN,50517.005274,62793.533483,1.117538
min,NaN,NaN,NaN,NaN,NaN,NaN,-618.130000,-618.130000,2011.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,36168.995000,44065.650000,2012.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,71426.610000,92404.090000,2013.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,105839.135000,132876.450000,2014.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,567595.430000,567595.430000,2014.000000

In [5]:
df.EmployeeName.value_counts()

Kevin Lee              13
William Wong           11
Richard Lee            11
Steven Lee             11
Stanley Lee             9
                       ..
CHRISTOPHER CANOSIO     1
Jeffrey M Ishikawa      1
Roger Aquino            1
Melina  Markarian       1
Richard C Roja          1
Name: EmployeeName, Length: 110811, dtype: int64

In [6]:
df.JobTitle.nunique()

2159

In [7]:
len(df[df["JobTitle"].str.contains("Captain",case=False)])

552

In [8]:
df[df["JobTitle"].str.contains("Fire",case=False)]["EmployeeName"]

4            PATRICK GARDNER
6                  ALSON LEE
8             MICHAEL MORRIS
9         JOANNE HAYES-WHITE
10             ARTHUR KENNEY
                 ...
145956      Kenneth C Farris
147556         Edward A Dunn
148021        Kari A Johnson
148209          Sheryl K Lee
148554       Lawrence F Gatt
Name: EmployeeName, Length: 5879, dtype: object

In [9]:
df["BasePay"].value_counts()

0.0         875
0.00        423
54703.00    327
55026.0     297
48472.4     210
           ...
64115.97      1
1751.04       1
64113.01      1
64111.6       1
64728.21      1
Name: BasePay, Length: 109900, dtype: int64

In [10]:
df["BasePay"].unique()

array([167411.18, 155966.02, 212739.13, ..., '6.04', '15.50',
       'Not Provided'], dtype=object)

In [11]:
df["BasePay"]=df["BasePay"].str.replace('Not Provided',"0")
df["BasePay"].unique()

array([nan, '60618.25', '68712.00', ..., '6.04', '15.50', '0'],
      dtype=object)

In [12]:
df["BasePay"] =df["BasePay"].astype("float")
df["BasePay"].dtype

dtype('float64')

In [13]:
df["BasePay"].min()

0.0

In [14]:
df["BasePay"].max()

92945.87

In [15]:
df.isnull().sum(axis=1)

0         2
1         2
2         2
3         2
4         2
         ..
148649    0
148650    0
148651    0
148652    0
148653    0
Length: 148654, dtype: int64

In [16]:
df=df.drop(df[df.isnull().sum(axis=1)>=2].index,axis=0)
df

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
36159,Gary Altenberg,"Lieutenant, Fire Suppression",NaN,220909.48,13126.31,44430.12,362844.66,407274.78,2012
36160,Gregory Suhr,Chief of Police,NaN,0.0,18974.11,69810.19,321552.11,391362.30,2012
36161,Khoa Trinh,Electronic Maintenance Tech,NaN,146415.32,78057.41,53102.29,336393.73,389496.02,2012
36162,Joanne Hayes-White,"Chief, Fire Department",NaN,0.0,17816.59,72047.88,314759.60,386807.48,2012
36163,Frederick Binkley,EMT/Paramedic/Firefighter,NaN,192424.49,17917.18,44438.25,337204.86,381643.11,2012
...,...,...,...,...,...,...,...,...,...
148649,Roy I Tillery,Custodian,0.0,0.00,0.00,0.00,0.00,0.00,2014
148650,Not provided,Not provided,0.0,Not Provided,Not Provided,Not Provided,0.00,0.00,2014
148651,Not provided,Not provided,0.0,Not Provided,Not Provided,Not Provided,0.00,0.00,2014
148652,Not provided,Not provided,0.0,Not Provided,Not Provided,Not Provided,0.00,0.00,2014
148653,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.00,-618.13,0.00,-618.13,-618.13,2014

In [17]:
94913+36159+17582

148654

In [18]:
df[df["EmployeeName"].isin(["ALBERT PARDINI"])]["JobTitle"]

Series([], Name: JobTitle, dtype: object)

In [19]:
df[df["EmployeeName"].isin(["ALBERT PARDINI"])][["TotalPay","TotalPayBenefits"]]

Empty DataFrame
Columns: [TotalPay, TotalPayBenefits]
Index: []

In [20]:
df["BasePay"].max()

92945.87

In [21]:
df[df["BasePay"]==92945.87]["EmployeeName"]

131453    Timothy J Lee
Name: EmployeeName, dtype: object

In [22]:
df[df["BasePay"].max()==df["BasePay"]]["EmployeeName"]

131453    Timothy J Lee
Name: EmployeeName, dtype: object